<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ChatPort" value="5000" />
    <add key="ChatLogFilePath" value="chat_log.txt" />
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="10" />
    </connectionManagement>
  </system.net>
</configuration>